<a href="https://colab.research.google.com/github/WillyKitheka/code-doyen/blob/main/data_set_Building.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta

# create table A
table_A = pd.DataFrame(columns=['date', 'league', 'home_team', 'away_team', 'home_score', 'away_score', 'classResult'])
table_A['date'] = pd.date_range(start='2022-01-01', end='2022-01-05')
table_A['league'] = ['Premier League', 'Serie A', 'La Liga', 'Bundesliga', 'Ligue 1']
table_A['home_team'] = ['Arsenal', 'AC Milan', 'Barcelona', 'Bayern Munich', 'Paris Saint-Germain']
table_A['away_team'] = ['Manchester United', 'Juventus', 'Real Madrid', 'Borussia Dortmund', 'Olympique Marseille']
table_A['home_score'] = np.random.randint(0, 4, size=len(table_A))
table_A['away_score'] = np.random.randint(0, 4, size=len(table_A))
table_A['classResult'] = np.where(table_A['home_score'] > table_A['away_score'], 'H', np.where(table_A['home_score'] < table_A['away_score'], 'A', 'D'))

# create table B
table_B = pd.DataFrame(columns=['date', 'league', 'home_team', 'away_team', 'xG', 'xGA', 'xGD', 'oppda_coef', 'ppda_coef'])
table_B['date'] = pd.date_range(start='2022-01-01', end='2022-01-05')
table_B['league'] = ['Premier League', 'Serie A', 'La Liga', 'Bundesliga', 'Ligue 1']
table_B['home_team'] = ['Arsenal', 'AC Milan', 'Barcelona', 'Bayern Munich', 'Paris Saint-Germain']
table_B['away_team'] = ['Manchester United', 'Juventus', 'Real Madrid', 'Borussia Dortmund', 'Olympique Marseille']
table_B['xG'] = np.round(np.random.uniform(0.5, 3, size=len(table_B)), 2)
table_B['xGA'] = np.round(np.random.uniform(0.5, 3, size=len(table_B)), 2)
table_B['xGD'] = np.round(table_B['xG'] - table_B['xGA'], 2)
table_B['oppda_coef'] = np.round(np.random.uniform(5, 25, size=len(table_B)), 2)
table_B['ppda_coef'] = np.round(np.random.uniform(5, 25, size=len(table_B)), 2)

# set same dates in both tables
table_A.loc[[1, 2, 3], 'date'] = table_B.loc[[1, 2, 3], 'date']

# print tables
print('Table A:')
print(table_A)
print('\nTable B:')
print(table_B)

Table A:
        date          league            home_team            away_team  \
0 2022-01-01  Premier League              Arsenal    Manchester United
1 2022-01-02         Serie A             AC Milan             Juventus
2 2022-01-03         La Liga            Barcelona          Real Madrid
3 2022-01-04      Bundesliga        Bayern Munich    Borussia Dortmund
4 2022-01-05         Ligue 1  Paris Saint-Germain  Olympique Marseille

   home_score  away_score classResult
0           2           1           H
1           0           0           D
2           0           3           A
3           2           2           D
4           0           1           A

Table B:
        date          league            home_team            away_team    xG  \
0 2022-01-01  Premier League              Arsenal    Manchester United  1.03
1 2022-01-02         Serie A             AC Milan             Juventus  1.30
2 2022-01-03         La Liga            Barcelona          Real Madrid  1.20
3 2022-01-04      Bundesliga        Bayern Munich    Borussia Dortmund  2.65
4 2022-01-05         Ligue 1  Paris Saint-Germain  Olympique Marseille  0.79

    xGA   xGD  oppda_coef  ppda_coef
0  1.78 -0.75       18.20       9.27
1  1.44 -0.14        5.75       7.09
2  1.49 -0.29       24.43      18.38
3  2.06  0.59       20.77      19.10
4  1.51 -0.72       24.98      10.49

In [2]:
table_A

,date,league,home_team,away_team,home_score,away_score,classResult
0,2022-01-01,Premier League,Arsenal,Manchester United,2,1,H
1,2022-01-02,Serie A,AC Milan,Juventus,0,0,D
2,2022-01-03,La Liga,Barcelona,Real Madrid,0,3,A
3,2022-01-04,Bundesliga,Bayern Munich,Borussia Dortmund,2,2,D
4,2022-01-05,Ligue 1,Paris Saint-Germain,Olympique Marseille,0,1,A

In [3]:
table_B

,date,league,home_team,away_team,xG,xGA,xGD,oppda_coef,ppda_coef
0,2022-01-01,Premier League,Arsenal,Manchester United,1.03,1.78,-0.75,18.20,9.27
1,2022-01-02,Serie A,AC Milan,Juventus,1.30,1.44,-0.14,5.75,7.09
2,2022-01-03,La Liga,Barcelona,Real Madrid,1.20,1.49,-0.29,24.43,18.38
3,2022-01-04,Bundesliga,Bayern Munich,Borussia Dortmund,2.65,2.06,0.59,20.77,19.10
4,2022-01-05,Ligue 1,Paris Saint-Germain,Olympique Marseille,0.79,1.51,-0.72,24.98,10.49

In [4]:
import pandas as pd
import numpy as np

# generate random data for table A
table_a_data = {
    'date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05'],
    'league': ['Premier League', 'La Liga', 'Bundesliga', 'Serie A', 'Ligue 1'],
    'home_team': ['Manchester United', 'Real Madrid', 'Bayern Munich', 'Juventus', 'Paris Saint-Germain'],
    'away_team': ['Liverpool', 'Barcelona', 'Borussia Dortmund', 'AC Milan', 'Olympique Marseille'],
    'home_score': np.random.randint(0, 4, 5),
    'away_score': np.random.randint(0, 4, 5),
    'classResult': ['W', 'D', 'L', 'W', 'D']
}

table_a = pd.DataFrame(table_a_data)

# generate random data for table B
table_b_data = {
    'date': ['2022-01-01', '2022-01-03', '2022-01-03', '2022-01-05', '2022-01-05'],
    'league': ['Premier League', 'La Liga', 'Bundesliga', 'Serie A', 'Ligue 1'],
    'home_team': ['Manchester United', 'Real Madrid', 'Bayern Munich', 'Juventus', 'Paris Saint-Germain'],
    'away_team': ['Liverpool', 'Barcelona', 'Borussia Dortmund', 'AC Milan', 'Olympique Marseille'],
    'xG': np.random.uniform(0, 1, 5),
    'xGA': np.random.uniform(0, 1, 5),
    'xGD': np.random.uniform(-1, 1, 5),
    'oppda_coef': np.random.uniform(0, 1, 5),
    'ppda_coef': np.random.uniform(0, 1, 5),
}

table_b = pd.DataFrame(table_b_data)

# print tables
print("Table A:")
print(table_a)
print("\nTable B:")
print(table_b)

Table A:
         date          league            home_team            away_team  \
0  2022-01-01  Premier League    Manchester United            Liverpool
1  2022-01-02         La Liga          Real Madrid            Barcelona
2  2022-01-03      Bundesliga        Bayern Munich    Borussia Dortmund
3  2022-01-04         Serie A             Juventus             AC Milan
4  2022-01-05         Ligue 1  Paris Saint-Germain  Olympique Marseille

   home_score  away_score classResult
0           0           1           W
1           2           1           D
2           2           0           L
3           0           0           W
4           2           1           D

Table B:
         date          league            home_team            away_team  \
0  2022-01-01  Premier League    Manchester United            Liverpool
1  2022-01-03         La Liga          Real Madrid            Barcelona
2  2022-01-03      Bundesliga        Bayern Munich    Borussia Dortmund
3  2022-01-05         Serie A             Juventus             AC Milan
4  2022-01-05         Ligue 1  Paris Saint-Germain  Olympique Marseille

         xG       xGA       xGD  oppda_coef  ppda_coef
0  0.456756  0.087930 -0.103250    0.990490   0.247641
1  0.470196  0.852960 -0.841309    0.668139   0.590091
2  0.358533  0.989994 -0.529942    0.996983   0.522876
3  0.095149  0.449954  0.121274    0.105682   0.086237
4  0.644107  0.494303 -0.212780    0.757405   0.566100

In [5]:
table_a

,date,league,home_team,away_team,home_score,away_score,classResult
0,2022-01-01,Premier League,Manchester United,Liverpool,0,1,W
1,2022-01-02,La Liga,Real Madrid,Barcelona,2,1,D
2,2022-01-03,Bundesliga,Bayern Munich,Borussia Dortmund,2,0,L
3,2022-01-04,Serie A,Juventus,AC Milan,0,0,W
4,2022-01-05,Ligue 1,Paris Saint-Germain,Olympique Marseille,2,1,D

In [6]:
table_b

,date,league,home_team,away_team,xG,xGA,xGD,oppda_coef,ppda_coef
0,2022-01-01,Premier League,Manchester United,Liverpool,0.456756,0.087930,-0.103250,0.990490,0.247641
1,2022-01-03,La Liga,Real Madrid,Barcelona,0.470196,0.852960,-0.841309,0.668139,0.590091
2,2022-01-03,Bundesliga,Bayern Munich,Borussia Dortmund,0.358533,0.989994,-0.529942,0.996983,0.522876
3,2022-01-05,Serie A,Juventus,AC Milan,0.095149,0.449954,0.121274,0.105682,0.086237
4,2022-01-05,Ligue 1,Paris Saint-Germain,Olympique Marseille,0.644107,0.494303,-0.212780,0.757405,0.566100

In [7]:
import pandas as pd

# Define table A
table_a = pd.DataFrame({
    'date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05'],
    'league': ['Premier League', 'La Liga', 'Serie A', 'Bundesliga', 'Ligue 1'],
    'home_team': ['Arsenal', 'Real Madrid', 'Juventus', 'Bayern Munich', 'Paris Saint-Germain'],
    'away_team': ['Chelsea', 'Barcelona', 'AC Milan', 'Borussia Dortmund', 'Olympique Marseille'],
    'home_score': [2, 1, 3, 0, 2],
    'away_score': [1, 2, 2, 1, 1],
    'classResult': ['H', 'A', 'D', 'D', 'H']
})

# Define table B
table_b = pd.DataFrame({
    'date': ['2022-01-01', '2022-01-02', '2022-01-03', '2022-01-04', '2022-01-05'],
    'league': ['Premier League', 'La Liga', 'Serie A', 'Bundesliga', 'Ligue 1'],
    'home_team': ['Arsenal', 'Real Madrid', 'Juventus', 'Bayern Munich', 'Paris Saint-Germain'],
    'away_team': ['Chelsea', 'Barcelona', 'AC Milan', 'Borussia Dortmund', 'Olympique Marseille'],
    'xG': [1.2, 1.5, 2.3, 1.1, 1.8],
    'xGA': [0.8, 0.9, 1.2, 1.3, 1.1],
    'xGD': [0.4, 0.6, 1.1, -0.2, 0.7],
    'oppda_coef': [0.9, 1.2, 0.8, 0.7, 1.1],
    'ppda_coef': [1.1, 0.8, 1.3, 1.5, 0.9]
})

# Merge table A and table B on matching date, home_team and away_team columns
table_c = pd.merge(table_a, table_b, on=['date', 'home_team', 'away_team'], how='inner')

# Print table C
print(table_c)

         date        league_x            home_team            away_team  \
0  2022-01-01  Premier League              Arsenal              Chelsea
1  2022-01-02         La Liga          Real Madrid            Barcelona
2  2022-01-03         Serie A             Juventus             AC Milan
3  2022-01-04      Bundesliga        Bayern Munich    Borussia Dortmund
4  2022-01-05         Ligue 1  Paris Saint-Germain  Olympique Marseille

   home_score  away_score classResult        league_y   xG  xGA  xGD  \
0           2           1           H  Premier League  1.2  0.8  0.4
1           1           2           A         La Liga  1.5  0.9  0.6
2           3           2           D         Serie A  2.3  1.2  1.1
3           0           1           D      Bundesliga  1.1  1.3 -0.2
4           2           1           H         Ligue 1  1.8  1.1  0.7

   oppda_coef  ppda_coef
0         0.9        1.1
1         1.2        0.8
2         0.8        1.3
3         0.7        1.5
4         1.1        0.9

In [8]:
table_a

,date,league,home_team,away_team,home_score,away_score,classResult
0,2022-01-01,Premier League,Arsenal,Chelsea,2,1,H
1,2022-01-02,La Liga,Real Madrid,Barcelona,1,2,A
2,2022-01-03,Serie A,Juventus,AC Milan,3,2,D
3,2022-01-04,Bundesliga,Bayern Munich,Borussia Dortmund,0,1,D
4,2022-01-05,Ligue 1,Paris Saint-Germain,Olympique Marseille,2,1,H

In [9]:
table_b

,date,league,home_team,away_team,xG,xGA,xGD,oppda_coef,ppda_coef
0,2022-01-01,Premier League,Arsenal,Chelsea,1.2,0.8,0.4,0.9,1.1
1,2022-01-02,La Liga,Real Madrid,Barcelona,1.5,0.9,0.6,1.2,0.8
2,2022-01-03,Serie A,Juventus,AC Milan,2.3,1.2,1.1,0.8,1.3
3,2022-01-04,Bundesliga,Bayern Munich,Borussia Dortmund,1.1,1.3,-0.2,0.7,1.5
4,2022-01-05,Ligue 1,Paris Saint-Germain,Olympique Marseille,1.8,1.1,0.7,1.1,0.9

In [10]:
table_c

,date,league_x,home_team,away_team,home_score,away_score,classResult,league_y,xG,xGA,xGD,oppda_coef,ppda_coef
0,2022-01-01,Premier League,Arsenal,Chelsea,2,1,H,Premier League,1.2,0.8,0.4,0.9,1.1
1,2022-01-02,La Liga,Real Madrid,Barcelona,1,2,A,La Liga,1.5,0.9,0.6,1.2,0.8
2,2022-01-03,Serie A,Juventus,AC Milan,3,2,D,Serie A,2.3,1.2,1.1,0.8,1.3
3,2022-01-04,Bundesliga,Bayern Munich,Borussia Dortmund,0,1,D,Bundesliga,1.1,1.3,-0.2,0.7,1.5
4,2022-01-05,Ligue 1,Paris Saint-Germain,Olympique Marseille,2,1,H,Ligue 1,1.8,1.1,0.7,1.1,0.9

In [17]:
import pandas as pd
from datetime import datetime, timedelta
import random

# Define start and end dates for the data
start_date = datetime(2022, 1, 1)
end_date = datetime(2022, 1, 7)

# Generate data for table A
data_a = {
    'date': [start_date + timedelta(days=i) for i in range(5)],
    'league': ['League A']*5,
    'home_team': ['Team {}'.format(i) for i in range(1, 6)],
    'away_team': ['Team {}'.format(i) for i in range(2, 7)],
    'home_score': [random.randint(0, 5) for _ in range(5)],
    'away_score': [random.randint(0, 5) for _ in range(5)]
}
table_a = pd.DataFrame(data_a)

# Generate data for table B
data_b = {
    'date': [start_date + timedelta(days=i, hours=12) for i in range(5)],
    'league': ['League A']*5,
    'home_team': ['Team {}'.format(i) for i in range(1, 6)],
    'away_team': ['Team {}'.format(i) for i in range(2, 7)],
    'xG': [random.uniform(0, 2) for _ in range(5)],
    'xGA': [random.uniform(0, 2) for _ in range(5)],
    'xGD': [random.uniform(-1, 1) for _ in range(5)],
    'oppda_coef': [random.uniform(10, 20) for _ in range(5)],
    'ppda_coef': [random.uniform(0, 5) for _ in range(5)]
}
table_b = pd.DataFrame(data_b)

# create an empty list to store the rows of table_c
table_c_rows = []

# loop through each row in table_a
for index, row_a in table_a.iterrows():
    
    # get the date, home team and away team from the current row of table_a
    date = row_a['date']
    home_team = row_a['home_team']
    away_team = row_a['away_team']
    
    # filter table_b based on date, home team and away team
    filtered_b = table_b.loc[(table_b['date'] == date) & (table_b['home_team'] == home_team) & (table_b['away_team'] == away_team)]
    
    # check if there is a match in table_b
    if len(filtered_b) > 0:
        # merge the row from table_a with the matching row from table_b
        merged_row = pd.concat([row_a, filtered_b.iloc[0]])
        table_c_rows.append(merged_row)

# create table_c from the list of rows
table_c = pd.DataFrame(table_c_rows)

# Print tables A, B and C
print('Table A:')
print(table_a)
print('\nTable B:')
print(table_b)
print('\nTable C:')
print(table_c)

Table A:
        date    league home_team away_team  home_score  away_score
0 2022-01-01  League A    Team 1    Team 2           5           0
1 2022-01-02  League A    Team 2    Team 3           4           1
2 2022-01-03  League A    Team 3    Team 4           0           4
3 2022-01-04  League A    Team 4    Team 5           1           1
4 2022-01-05  League A    Team 5    Team 6           5           1

Table B:
                 date    league home_team away_team        xG       xGA  \
0 2022-01-01 12:00:00  League A    Team 1    Team 2  0.752642  0.027260
1 2022-01-02 12:00:00  League A    Team 2    Team 3  0.835606  0.013896
2 2022-01-03 12:00:00  League A    Team 3    Team 4  0.417166  1.043075
3 2022-01-04 12:00:00  League A    Team 4    Team 5  1.594425  0.033655
4 2022-01-05 12:00:00  League A    Team 5    Team 6  1.809736  0.745427

        xGD  oppda_coef  ppda_coef
0  0.817720   10.111149   4.823396
1  0.477513   19.705533   2.833936
2 -0.671752   10.404024   0.963587
3  0.083879   18.378198   3.599975
4  0.565487   14.248006   2.933954

Table C:
Empty DataFrame
Columns: []
Index: []

In [18]:
table_a

        date    league home_team away_team  home_score  away_score
0 2022-01-01  League A    Team 1    Team 2           5           0
1 2022-01-02  League A    Team 2    Team 3           4           1
2 2022-01-03  League A    Team 3    Team 4           0           4
3 2022-01-04  League A    Team 4    Team 5           1           1
4 2022-01-05  League A    Team 5    Team 6           5           1

In [19]:
table_b

,date,league,home_team,away_team,xG,xGA,xGD,oppda_coef,ppda_coef
0,2022-01-01 12:00:00,League A,Team 1,Team 2,0.752642,0.027260,0.817720,10.111149,4.823396
1,2022-01-02 12:00:00,League A,Team 2,Team 3,0.835606,0.013896,0.477513,19.705533,2.833936
2,2022-01-03 12:00:00,League A,Team 3,Team 4,0.417166,1.043075,-0.671752,10.404024,0.963587
3,2022-01-04 12:00:00,League A,Team 4,Team 5,1.594425,0.033655,0.083879,18.378198,3.599975
4,2022-01-05 12:00:00,League A,Team 5,Team 6,1.809736,0.745427,0.565487,14.248006,2.933954

In [20]:
table_c

Empty DataFrame
Columns: []
Index: []

In [15]:
# create an empty list to store the rows of table_c
table_c_rows = []

# loop through each row in table_a
for index, row_a in table_a.iterrows():
    
    # get the date, home team and away team from the current row of table_a
    date = row_a['date']
    home_team = row_a['home_team']
    away_team = row_a['away_team']
    
    # filter table_b based on date, home team and away team
    filtered_b = table_b.loc[(table_b['date'] == date) & (table_b['home_team'] == home_team) & (table_b['away_team'] == away_team)]
    
    # check if there is a match in table_b
    if len(filtered_b) > 0:
        # merge the row from table_a with the matching row from table_b
        merged_row = pd.concat([row_a, filtered_b.iloc[0]])
        table_c_rows.append(merged_row)

# create table_c from the list of rows
table_c = pd.DataFrame(table_c_rows)

In [16]:
table_c

Empty DataFrame
Columns: []
Index: []

In [21]:
# create an empty list to store the rows of table_c
table_c_rows = []

# loop through each row in table_a
for index, row_a in table_a.iterrows():
    
    # get the date, home team and away team from the current row of table_a
    date = row_a['date']
    home_team = row_a['home_team']
    away_team = row_a['away_team']
    
    # filter table_b based on date, home team and away team
    filtered_b = table_b.loc[(table_b['date'] == date) & (table_b['home_team'] == home_team) & (table_b['away_team'] == away_team)]
    
    # check if there is a match in table_b
    if len(filtered_b) > 0:
        # merge the row from table_a with the matching row from table_b
        merged_row = pd.concat([row_a, filtered_b.iloc[0]])
        table_c_rows.append(merged_row)

# create table_c from the list of rows
table_c = pd.DataFrame(table_c_rows)

In [22]:
table_c

Empty DataFrame
Columns: []
Index: []

In [23]:
import pandas as pd

table_a = pd.DataFrame({
    'date': ['2022-01-01', '2022-01-01', '2022-01-02', '2022-01-02', '2022-01-03'],
    'league_x': ['Premier League', 'La Liga', 'Serie A', 'Bundesliga', 'Ligue 1'],
    'home_team': ['Arsenal', 'Barcelona', 'Juventus', 'Bayern Munich', 'Paris Saint-Germain'],
    'away_team': ['Chelsea', 'Real Madrid', 'Inter Milan', 'Borussia Dortmund', 'Lyon'],
    'home_score': [1, 2, 3, 4, 5],
    'away_score': [0, 1, 2, 1, 2],
    'classResult': ['W', 'W', 'W', 'W', 'W']
})

table_b = pd.DataFrame({
    'date': ['2022-01-01', '2022-01-01', '2022-01-03', '2022-01-03', '2022-01-04'],
    'league_y': ['Premier League', 'La Liga', 'Ligue 1', 'Serie A', 'Bundesliga'],
    'home_team': ['Arsenal', 'Barcelona', 'Paris Saint-Germain', 'Juventus', 'Bayern Munich'],
    'away_team': ['Chelsea', 'Real Madrid', 'Lyon', 'Inter Milan', 'Borussia Dortmund'],
    'xG': [1.2, 1.5, 2.1, 0.8, 1.9],
    'xGA': [0.8, 1.3, 1.9, 1.2, 1.1],
    'xGD': [0.4, 0.2, 0.2, -0.4, 0.8],
    'oppda_coef': [5.6, 7.2, 6.5, 8.1, 5.9],
    'ppda_coef': [3.2, 3.1, 2.8, 3.9, 4.1]
})

def merge_tables(table_a, table_b):
    table_c = pd.merge(table_a, table_b, on=['date', 'home_team', 'away_team'], how='inner')
    return table_c

table_c = merge_tables(table_a, table_b)
print(table_c)

         date        league_x            home_team    away_team  home_score  \
0  2022-01-01  Premier League              Arsenal      Chelsea           1
1  2022-01-01         La Liga            Barcelona  Real Madrid           2
2  2022-01-03         Ligue 1  Paris Saint-Germain         Lyon           5

   away_score classResult        league_y   xG  xGA  xGD  oppda_coef  \
0           0           W  Premier League  1.2  0.8  0.4         5.6
1           1           W         La Liga  1.5  1.3  0.2         7.2
2           2           W         Ligue 1  2.1  1.9  0.2         6.5

   ppda_coef
0        3.2
1        3.1
2        2.8

In [24]:
table_a

,date,league_x,home_team,away_team,home_score,away_score,classResult
0,2022-01-01,Premier League,Arsenal,Chelsea,1,0,W
1,2022-01-01,La Liga,Barcelona,Real Madrid,2,1,W
2,2022-01-02,Serie A,Juventus,Inter Milan,3,2,W
3,2022-01-02,Bundesliga,Bayern Munich,Borussia Dortmund,4,1,W
4,2022-01-03,Ligue 1,Paris Saint-Germain,Lyon,5,2,W

In [25]:
table_b

,date,league_y,home_team,away_team,xG,xGA,xGD,oppda_coef,ppda_coef
0,2022-01-01,Premier League,Arsenal,Chelsea,1.2,0.8,0.4,5.6,3.2
1,2022-01-01,La Liga,Barcelona,Real Madrid,1.5,1.3,0.2,7.2,3.1
2,2022-01-03,Ligue 1,Paris Saint-Germain,Lyon,2.1,1.9,0.2,6.5,2.8
3,2022-01-03,Serie A,Juventus,Inter Milan,0.8,1.2,-0.4,8.1,3.9
4,2022-01-04,Bundesliga,Bayern Munich,Borussia Dortmund,1.9,1.1,0.8,5.9,4.1

In [26]:
table_c

,date,league_x,home_team,away_team,home_score,away_score,classResult,league_y,xG,xGA,xGD,oppda_coef,ppda_coef
0,2022-01-01,Premier League,Arsenal,Chelsea,1,0,W,Premier League,1.2,0.8,0.4,5.6,3.2
1,2022-01-01,La Liga,Barcelona,Real Madrid,2,1,W,La Liga,1.5,1.3,0.2,7.2,3.1
2,2022-01-03,Ligue 1,Paris Saint-Germain,Lyon,5,2,W,Ligue 1,2.1,1.9,0.2,6.5,2.8