<a href="https://colab.research.google.com/github/WillyKitheka/code-doyen/blob/main/search_assets_12.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [5]:
import pandas as pd

set_analysis_results_df_assets_12 = pd.read_csv(r'/content/drive/MyDrive/maGiK_15_assets/2nd_run/assets_12/set_analysis_results_df_assets_12.csv')

In [3]:
set_analysis_results_df_assets_12

      Unnamed: 0    column_name  frequency
0              0   pick_3390086          3
1              1   pick_3219746          3
2              2  pick_12754668          3
3              3   pick_3731020          3
4              4   pick_3908005          3
...          ...            ...        ...
9798        9798   pick_4400309          2
9799        9799   pick_3337830          2
9800        9800   pick_3750932          2
9801        9801   pick_3344084          2
9802        9802  pick_13903363          2

[9803 rows x 3 columns]

In [6]:
def get_items_with_frequency_greater_than_2(df):
    """
    Returns a list of all the items in the 'column_name' that have a 'frequency' greater than 2.
    """
    # Select only the rows with frequency greater than 2
    filtered_df = df[df['frequency'] > 2]

    # Extract the column_name values as a list
    items_list = filtered_df['column_name'].tolist()

    return items_list

In [7]:
assets_12_list = get_items_with_frequency_greater_than_2(set_analysis_results_df_assets_12)

In [8]:
assets_12_list

['pick_3390086',
 'pick_3219746',
 'pick_12754668',
 'pick_3731020',
 'pick_3908005',
 'pick_593185',
 'pick_3336867',
 'pick_770323',
 'pick_541645',
 'pick_3789340',
 'pick_3219449',
 'pick_3335400',
 'pick_8336473',
 'pick_12791037',
 'pick_3514694',
 'pick_3337790',
 'pick_3966325',
 'pick_3396650',
 'pick_8835256',
 'pick_3219689',
 'pick_3908168',
 'pick_593175',
 'pick_3514991',
 'pick_3339045',
 'pick_12791043',
 'pick_542375',
 'pick_3907438',
 'pick_777680',
 'pick_3336860',
 'pick_718630',
 'pick_3966488',
 'pick_11196711',
 'pick_3335355',
 'pick_3212942',
 'pick_3508187',
 'pick_3508130',
 'pick_3790070',
 'pick_3212885',
 'pick_3330986',
 'pick_3213182',
 'pick_3339000',
 'pick_3508427',
 'pick_3967055',
 'pick_3789907',
 'pick_3514934',
 'pick_718793',
 'pick_3338993',
 'pick_719360',
 'pick_3331283',
 'pick_595363',
 'pick_3336815',
 'pick_601262',
 'pick_3331226',
 'pick_600695',
 'pick_600532',
 'pick_12789588',
 'pick_3335348',
 'pick_3396890',
 'pick_13904849',
 'pick_11160678',
 'pick_11193078',
 'pick_542212',
 'pick_8355960',
 'pick_3396593',
 'pick_3337533']

In [9]:
len(assets_12_list)

65

In [10]:
import os
import pandas as pd

def search_files_for_columns(folder_path, assets_as_list):
    """
    Searches all files in a folder for each column name in assets_as_list and returns a DataFrame
    with the folder_path and file_name where each column_name is located.
    """
    # Create an empty DataFrame to store the results
    results_df = pd.DataFrame(columns=['folder_path', 'file_name', 'column_name'])

    # Iterate through all files in the folder
    for file_name in os.listdir(folder_path):
        # Skip any files that are not CSV or Excel files
        if not file_name.endswith('.csv') and not file_name.endswith('.xlsx'):
            continue

        # Read the file into a DataFrame
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_csv(file_path) if file_name.endswith('.csv') else pd.read_excel(file_path)

        # Iterate through each column name in the assets_as_list
        for column_name in assets_as_list:
            # Check if the column exists in the DataFrame
            if column_name in df.columns:
                # Add the folder_path, file_name, and column_name to the results DataFrame
                results_df = results_df.append({'folder_path': folder_path, 'file_name': file_name, 'column_name': column_name}, ignore_index=True)

    return results_df

In [11]:
results_df = search_files_for_columns('/content/drive/MyDrive/maGiK_15_sample_space', assets_12_list)

<ipython-input-11-125e9e5f76b3>:1: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  results_df = search_files_for_columns('/content/drive/MyDrive/maGiK_15_sample_space', assets_12_list)

In [12]:
results_df

,folder_path,file_name,column_name
0,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file1_concat.csv,pick_593185
1,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file1_concat.csv,pick_770323
2,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file1_concat.csv,pick_541645
3,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file1_concat.csv,pick_593175
4,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file1_concat.csv,pick_542375
...,...,...,...
60,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file9_concat.csv,pick_12754668
61,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file9_concat.csv,pick_12791037
62,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file9_concat.csv,pick_12791043
63,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file9_concat.csv,pick_12789588
64,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file9_concat.csv,pick_13904849

In [13]:
results_df.to_csv('/content/drive/MyDrive/maGiK_15_assets/2nd_run/assets_12/results_df_assets_12.csv')

In [14]:
# basically does the same thing as the function above, only that this one wraps tqdm() so we know how
# long this takes....

import os
import pandas as pd
from tqdm import tqdm

def search_files_for_columns(folder_path, assets_as_list):
    """
    Searches all files in a folder for each column name in assets_as_list and returns a DataFrame
    with the folder_path and file_name where each column_name is located.
    """
    # Create an empty DataFrame to store the results
    results_df = pd.DataFrame(columns=['folder_path', 'file_name', 'column_name'])

    # Iterate through all files in the folder
    for file_name in tqdm(os.listdir(folder_path)):
        # Skip any files that are not CSV or Excel files
        if not file_name.endswith('.csv') and not file_name.endswith('.xlsx'):
            continue

        # Read the first 1000 rows of the file into a DataFrame
        file_path = os.path.join(folder_path, file_name)
        df = pd.read_csv(file_path, nrows=1000) if file_name.endswith('.csv') else pd.read_excel(file_path, nrows=1000)

        # Iterate through each column name in the assets_as_list
        for column_name in assets_as_list:
            # Check if the column exists in the DataFrame
            if column_name in df.columns:
                # Add the folder_path, file_name, and column_name to the results DataFrame
                results_df = results_df.append({'folder_path': folder_path, 'file_name': file_name, 'column_name': column_name}, ignore_index=True)

    return results_df

In [17]:
import pandas as pd

set_analysis_results_df_assets_14 = pd.read_csv(r'/content/drive/MyDrive/maGiK_15_assets/2nd_run/assets_14/set_analysis_results_df_assets_14.csv')

In [18]:
set_analysis_results_df_assets_14

    Unnamed: 0   column_name  frequency
0            0   pick_148952          2
1            1  pick_3357281          2
2            2  pick_3730124          2
3            3  pick_4261571          2
4            4  pick_3730292          2
5            5  pick_3729887          2
6            6  pick_4084424          2
7            7  pick_3729401          2
8            8  pick_3789179          2
9            9  pick_3730103          2
10          10  pick_3729644          2
11          11  pick_3730112          2
12          12  pick_3730128          2
13          13  pick_3736691          2
14          14  pick_3730121          2
15          15  pick_3198689          2
16          16  pick_3732317          2
17          17  pick_3730129          2
18          18  pick_3727943          2
19          19  pick_3723569          2
20          20  pick_3907277          2
21          21  pick_3730859          2
22          22  pick_3848228          2
23          23  pick_3730076          2
24          24  pick_3749813          2
25          25  pick_3730127          2
26          26  pick_3730211          2
27          27  pick_3769496          2
28          28  pick_3339056          2
29          29   pick_541484          2
30          30  pick_3337601          2
31          31  pick_4279132          2
32          32  pick_4338801          2
33          33  pick_3335411          2
34          34  pick_3337597          2
35          35  pick_3219500          2
36          36  pick_3317915          2
37          37  pick_3344159          2
38          38  pick_3337517          2
39          39  pick_3337841          2
40          40  pick_3338327          2
41          41  pick_3337589          2
42          42  pick_3337604          2
43          43  pick_3691892          2
44          44  pick_3514745          2
45          45  pick_3278549          2
46          46  pick_3337571          2
47          47  pick_3331037          2
48          48  pick_3338084          2
49          49  pick_3337436          2
50          50  pick_3337596          2
51          51  pick_3337580          2
52          52  pick_3333224          2
53          53  pick_4400480          2
54          54  pick_3869039          2
55          55  pick_3337544          2
56          56  pick_3909771          2

In [19]:
# because we need to analyses assets_14 we have adapted this function so that we let in items from 
# assets_14, so the value at this line 'filtered_df = df[df['frequency'] > 2]' is changed to 1

def get_items_with_frequency_greater_than_2(df):
    """
    Returns a list of all the items in the 'column_name' that have a 'frequency' greater than 2.
    """
    # Select only the rows with frequency greater than 2
    filtered_df = df[df['frequency'] > 1]

    # Extract the column_name values as a list
    items_list = filtered_df['column_name'].tolist()

    return items_list

In [20]:
assets_14_list = get_items_with_frequency_greater_than_2(set_analysis_results_df_assets_14)

In [21]:
results_df_assets_14 = search_files_for_columns('/content/drive/MyDrive/maGiK_15_sample_space', assets_14_list)

 11%|â–ˆ         | 1/9 [14:23<1:55:04, 863.02s/it]<ipython-input-21-e89c145311a4>:1: DtypeWarning: Columns (0) have mixed types.Specify dtype option on import or set low_memory=False.
  results_df_assets_14 = search_files_for_columns('/content/drive/MyDrive/maGiK_15_sample_space', assets_14_list)
100%|â–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆâ–ˆ| 9/9 [2:04:36<00:00, 830.72s/it]

In [23]:
results_df_assets_14

,folder_path,file_name,column_name
0,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file1_concat.csv,pick_148952
1,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file1_concat.csv,pick_541484
2,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3357281
3,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3730124
4,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_4261571
5,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3730292
6,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3729887
7,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_4084424
8,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3729401
9,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3789179
10,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3730103
11,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3729644
12,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3730112
13,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3730128
14,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3736691
15,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3730121
16,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3198689
17,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3732317
18,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3730129
19,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3727943
20,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3723569
21,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3907277
22,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3730859
23,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3848228
24,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3730076
25,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3749813
26,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3730127
27,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3730211
28,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3769496
29,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3339056
30,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3337601
31,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_4279132
32,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_4338801
33,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3335411
34,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3337597
35,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3219500
36,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3317915
37,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3344159
38,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3337517
39,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3337841
40,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3338327
41,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3337589
42,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3337604
43,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3691892
44,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3514745
45,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3278549
46,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3337571
47,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3331037
48,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3338084
49,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3337436
50,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3337596
51,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3337580
52,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3333224
53,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_4400480
54,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3869039
55,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3337544
56,/content/drive/MyDrive/maGiK_15_sample_space,df_magik15_file2_concat.csv,pick_3909771

In [24]:
results_df_assets_14.to_csv('/content/drive/MyDrive/maGiK_15_assets/2nd_run/assets_14/results_df_assets_14.csv')