<a href="https://colab.research.google.com/github/WillyKitheka/code-doyen/blob/main/xgBoost_implementation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [255]:
# let's import the file of interest

import pandas as pd

data_understat = pd.read_csv('/content/drive/MyDrive/xgboost_data/data_understat/understat_perGame_Data.csv')

In [256]:
data_understat

,league,year,h_a,xG,xGA,npxG,npxGA,deep,deep_allowed,scored,...,ppda_coef,ppda_att,ppda_def,oppda_coef,oppda_att,oppda_def,team,xG_diff,xGA_diff,xpts_diff
0,Bundesliga,2014,h,2.570120,1.198420,2.570120,1.198420,5,4,2,...,9.625000,231,24,21.850000,437,20,Bayern Munich,0.570120,0.198420,-0.6514
1,Bundesliga,2014,a,1.503280,1.307950,1.503280,1.307950,10,1,1,...,4.756098,195,41,17.695652,407,23,Bayern Munich,0.503280,0.307950,0.5143
2,Bundesliga,2014,h,1.229870,0.310166,1.229870,0.310166,13,3,2,...,5.060606,167,33,16.961538,441,26,Bayern Munich,-0.770130,0.310166,-0.8412
3,Bundesliga,2014,a,1.035190,0.203118,1.035190,0.203118,6,2,0,...,4.423077,115,26,9.446809,444,47,Bayern Munich,1.035190,0.203118,1.1367
4,Bundesliga,2014,h,3.482860,0.402844,3.482860,0.402844,23,2,4,...,4.250000,170,40,44.800000,448,10,Bayern Munich,-0.517140,0.402844,-0.0713
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24575,Serie_A,2019,h,0.448154,2.587650,0.448154,1.826350,7,6,1,...,15.500000,310,20,19.600000,294,15,Lecce,-0.551846,-0.412350,0.1597
24576,Serie_A,2019,a,1.699320,0.446679,0.938022,0.446679,5,7,1,...,12.650000,253,20,14.600000,292,20,Lecce,0.699320,-1.553321,2.4418
24577,Serie_A,2019,h,2.535110,0.959100,2.535110,0.959100,5,7,3,...,13.777778,248,18,12.888889,348,27,Lecce,-0.464890,-0.040900,-0.5675
24578,Serie_A,2019,a,2.247360,2.689270,2.247360,2.689270,11,10,2,...,25.454545,280,11,10.600000,212,20,Lecce,0.247360,-0.310730,1.1019
24579,Serie_A,2019,a,1.934840,1.554200,1.173540,1.554200,6,6,2,...,10.291667,247,24,16.750000,268,16,Lecce,-0.065160,0.554200,-1.2913

In [257]:
import pandas as pd

# Load the data
#df = pd.read_csv('your_data_file.csv')

# Check for missing values
print(data_understat.isna().sum())

league          0
year            0
h_a             0
xG              0
xGA             0
npxG            0
npxGA           0
deep            0
deep_allowed    0
scored          0
missed          0
xpts            0
result          0
date            0
wins            0
draws           0
loses           0
pts             0
npxGD           0
ppda_coef       0
ppda_att        0
ppda_def        0
oppda_coef      0
oppda_att       0
oppda_def       0
team            0
xG_diff         0
xGA_diff        0
xpts_diff       0
dtype: int64

In [258]:
import pandas as pd

# Load the data into a DataFrame
#df = pd.read_csv('your_data.csv')

# Print the data types of each column
print(data_understat.dtypes)

league           object
year              int64
h_a              object
xG              float64
xGA             float64
npxG            float64
npxGA           float64
deep              int64
deep_allowed      int64
scored            int64
missed            int64
xpts            float64
result           object
date             object
wins              int64
draws             int64
loses             int64
pts               int64
npxGD           float64
ppda_coef       float64
ppda_att          int64
ppda_def          int64
oppda_coef      float64
oppda_att         int64
oppda_def         int64
team             object
xG_diff         float64
xGA_diff        float64
xpts_diff       float64
dtype: object

In [259]:
# Print the distinct values of the 'result' column
print(data_understat['team'].unique())

['Bayern Munich' 'Hamburger SV' 'Bayer Leverkusen' 'Hoffenheim' 'Augsburg'
 'Hertha Berlin' 'Werder Bremen' 'Schalke 04' 'Mainz 05' 'Hannover 96'
 'Borussia Dortmund' 'Borussia M.Gladbach' 'Wolfsburg'
 'Eintracht Frankfurt' 'VfB Stuttgart' 'FC Cologne' 'Freiburg' 'Paderborn'
 'Ingolstadt' 'Darmstadt' 'RasenBallsport Leipzig' 'Fortuna Duesseldorf'
 'Nuernberg' 'Union Berlin' 'Aston Villa' 'Everton' 'Southampton'
 'Leicester' 'West Bromwich Albion' 'Sunderland' 'Crystal Palace'
 'Chelsea' 'West Ham' 'Tottenham' 'Arsenal' 'Swansea' 'Stoke'
 'Newcastle United' 'Liverpool' 'Manchester City' 'Manchester United'
 'Hull' 'Burnley' 'Queens Park Rangers' 'Bournemouth' 'Norwich' 'Watford'
 'Middlesbrough' 'Huddersfield' 'Brighton' 'Cardiff' 'Fulham'
 'Wolverhampton Wanderers' 'Sheffield United' 'Malaga' 'Sevilla'
 'Deportivo La Coruna' 'Real Sociedad' 'Espanyol' 'Getafe'
 'Atletico Madrid' 'Rayo Vallecano' 'Valencia' 'Athletic Club' 'Barcelona'
 'Real Madrid' 'Levante' 'Celta Vigo' 'Villarreal' 'Granada' 'Eibar'
 'Cordoba' 'Elche' 'Almeria' 'Las Palmas' 'Sporting Gijon' 'Real Betis'
 'Osasuna' 'Alaves' 'Leganes' 'Girona' 'Real Valladolid' 'SD Huesca'
 'Mallorca' 'Lille' 'Paris Saint Germain' 'SC Bastia' 'Rennes' 'Marseille'
 'Caen' 'Montpellier' 'Nantes' 'Guingamp' 'Nice' 'Monaco' 'Toulouse'
 'Saint-Etienne' 'Bordeaux' 'Reims' 'Lyon' 'Lorient' 'Metz'
 'Evian Thonon Gaillard' 'Lens' 'Angers' 'Troyes' 'GFC Ajaccio' 'Dijon'
 'Nancy' 'Amiens' 'Strasbourg' 'Nimes' 'Brest' 'Spartak Moscow' 'FC Ufa'
 'CSKA Moscow' 'Rubin Kazan' 'FC Rostov' 'FK Akhmat'
 'Zenit St. Petersburg' 'Dinamo Moscow' 'Mordovya' 'Lokomotiv Moscow'
 'Amkar' 'FC Krasnodar' 'Kuban Krasnodar' 'Ural' 'Arsenal Tula'
 'Torpedo Moscow' 'Anzhi Makhachkala' 'Krylya Sovetov Samara'
 'FC Orenburg' 'Tom Tomsk' 'Tosno' 'SKA-Khabarovsk'
 'FC Yenisey Krasnoyarsk' 'PFC Sochi' 'FC Tambov' 'Verona' 'Roma' 'Lazio'
 'Juventus' 'Udinese' 'Palermo' 'Genoa' 'Sampdoria' 'Sassuolo' 'Napoli'
 'Inter' 'Atalanta' 'Empoli' 'Chievo' 'Fiorentina' 'AC Milan' 'Torino'
 'Cagliari' 'Cesena' 'Parma' 'Bologna' 'Carpi' 'Frosinone' 'Pescara'
 'Crotone' 'SPAL 2013' 'Benevento' 'Parma Calcio 1913' 'Brescia' 'Lecce']

In [260]:
# Print the distinct values of the 'result' column
print(data_understat['league'].unique())

['Bundesliga' 'EPL' 'La_liga' 'Ligue_1' 'RFPL' 'Serie_A']

In [261]:
import pandas as pd

# implementing one-hot encoding

encoded_data_understat = pd.get_dummies(data_understat, columns=['league', 'h_a', 'team'])

In [262]:
# looking for columns with dtype; object

obj_cols = encoded_data_understat.select_dtypes(include=['object']).columns
print(obj_cols)

Index(['result', 'date'], dtype='object')

In [263]:
encoded_data_understat['date'] = pd.to_datetime(encoded_data_understat['date'], format='%d/%m/%y %H:%M')
encoded_data_understat['date'] = encoded_data_understat['date'].astype('int64') // 10**9

In [264]:
# checking again for columns with dtype; object

obj_cols = encoded_data_understat.select_dtypes(include=['object']).columns
print(obj_cols)

Index(['result'], dtype='object')

In [265]:
# Print the data types of each column
print(encoded_data_understat.dtypes)

year                              int64
xG                              float64
xGA                             float64
npxG                            float64
npxGA                           float64
                                 ...
team_West Bromwich Albion         uint8
team_West Ham                     uint8
team_Wolfsburg                    uint8
team_Wolverhampton Wanderers      uint8
team_Zenit St. Petersburg         uint8
Length: 202, dtype: object

In [266]:
encoded_data_understat

,year,xG,xGA,npxG,npxGA,deep,deep_allowed,scored,missed,xpts,...,team_Verona,team_VfB Stuttgart,team_Villarreal,team_Watford,team_Werder Bremen,team_West Bromwich Albion,team_West Ham,team_Wolfsburg,team_Wolverhampton Wanderers,team_Zenit St. Petersburg
0,2014,2.570120,1.198420,2.570120,1.198420,5,4,2,1,2.3486,...,0,0,0,0,0,0,0,0,0,0
1,2014,1.503280,1.307950,1.503280,1.307950,10,1,1,1,1.5143,...,0,0,0,0,0,0,0,0,0,0
2,2014,1.229870,0.310166,1.229870,0.310166,13,3,2,0,2.1588,...,0,0,0,0,0,0,0,0,0,0
3,2014,1.035190,0.203118,1.035190,0.203118,6,2,0,0,2.1367,...,0,0,0,0,0,0,0,0,0,0
4,2014,3.482860,0.402844,3.482860,0.402844,23,2,4,0,2.9287,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24575,2019,0.448154,2.587650,0.448154,1.826350,7,6,1,3,0.1597,...,0,0,0,0,0,0,0,0,0,0
24576,2019,1.699320,0.446679,0.938022,0.446679,5,7,1,2,2.4418,...,0,0,0,0,0,0,0,0,0,0
24577,2019,2.535110,0.959100,2.535110,0.959100,5,7,3,1,2.4325,...,0,0,0,0,0,0,0,0,0,0
24578,2019,2.247360,2.689270,2.247360,2.689270,11,10,2,3,1.1019,...,0,0,0,0,0,0,0,0,0,0
24579,2019,1.934840,1.554200,1.173540,1.554200,6,6,2,1,1.7087,...,0,0,0,0,0,0,0,0,0,0

In [267]:
from sklearn.model_selection import train_test_split

# Set aside a hold-out set of 3000 rows
X_holdout = encoded_data_understat.iloc[:3000, :-1]

In [268]:
X_holdout

,year,xG,xGA,npxG,npxGA,deep,deep_allowed,scored,missed,xpts,...,team_Valencia,team_Verona,team_VfB Stuttgart,team_Villarreal,team_Watford,team_Werder Bremen,team_West Bromwich Albion,team_West Ham,team_Wolfsburg,team_Wolverhampton Wanderers
0,2014,2.570120,1.198420,2.570120,1.198420,5,4,2,1,2.3486,...,0,0,0,0,0,0,0,0,0,0
1,2014,1.503280,1.307950,1.503280,1.307950,10,1,1,1,1.5143,...,0,0,0,0,0,0,0,0,0,0
2,2014,1.229870,0.310166,1.229870,0.310166,13,3,2,0,2.1588,...,0,0,0,0,0,0,0,0,0,0
3,2014,1.035190,0.203118,1.035190,0.203118,6,2,0,0,2.1367,...,0,0,0,0,0,0,0,0,0,0
4,2014,3.482860,0.402844,3.482860,0.402844,23,2,4,0,2.9287,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2995,2018,1.239640,1.393720,1.239640,1.393720,6,10,0,0,1.2120,...,0,0,0,0,0,0,0,0,0,0
2996,2018,1.752440,1.480710,0.994659,1.480710,8,5,1,2,1.5590,...,0,0,0,0,0,0,0,0,0,0
2997,2018,1.171820,2.422250,1.171820,1.664480,11,3,0,3,0.4855,...,0,0,0,0,0,0,0,0,0,0
2998,2018,0.557607,1.758020,0.557607,1.758020,5,4,0,2,0.4123,...,0,0,0,0,0,0,0,0,0,0
2999,2018,0.666096,3.512570,0.666096,2.754790,3,8,1,7,0.1046,...,0,0,0,0,0,0,0,0,0,0

In [269]:
if 'result' in X_holdout.columns:
    print("result column is present in the DataFrame")
else:
    print("result column is not present in the DataFrame")

result column is present in the DataFrame

In [270]:
# Create the target variable for the hold-out set
y_holdout = X_holdout['result']

# Drop the 'result' column from the hold-out set
X_holdout = X_holdout.drop('result', axis=1)

# One-hot encode the categorical columns in the hold-out set
#X_holdout_encoded = encoder.transform(X_holdout)

# Convert the encoded features to a dataframe
#X_holdout_encoded_df = pd.DataFrame(X_holdout_encoded, columns=encoder.get_feature_names())

# Scale the encoded features in the hold-out set
#X_holdout_scaled = scaler.transform(X_holdout_encoded_df)

In [271]:
encoded_data_understat

,year,xG,xGA,npxG,npxGA,deep,deep_allowed,scored,missed,xpts,...,team_Verona,team_VfB Stuttgart,team_Villarreal,team_Watford,team_Werder Bremen,team_West Bromwich Albion,team_West Ham,team_Wolfsburg,team_Wolverhampton Wanderers,team_Zenit St. Petersburg
0,2014,2.570120,1.198420,2.570120,1.198420,5,4,2,1,2.3486,...,0,0,0,0,0,0,0,0,0,0
1,2014,1.503280,1.307950,1.503280,1.307950,10,1,1,1,1.5143,...,0,0,0,0,0,0,0,0,0,0
2,2014,1.229870,0.310166,1.229870,0.310166,13,3,2,0,2.1588,...,0,0,0,0,0,0,0,0,0,0
3,2014,1.035190,0.203118,1.035190,0.203118,6,2,0,0,2.1367,...,0,0,0,0,0,0,0,0,0,0
4,2014,3.482860,0.402844,3.482860,0.402844,23,2,4,0,2.9287,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24575,2019,0.448154,2.587650,0.448154,1.826350,7,6,1,3,0.1597,...,0,0,0,0,0,0,0,0,0,0
24576,2019,1.699320,0.446679,0.938022,0.446679,5,7,1,2,2.4418,...,0,0,0,0,0,0,0,0,0,0
24577,2019,2.535110,0.959100,2.535110,0.959100,5,7,3,1,2.4325,...,0,0,0,0,0,0,0,0,0,0
24578,2019,2.247360,2.689270,2.247360,2.689270,11,10,2,3,1.1019,...,0,0,0,0,0,0,0,0,0,0
24579,2019,1.934840,1.554200,1.173540,1.554200,6,6,2,1,1.7087,...,0,0,0,0,0,0,0,0,0,0

In [272]:
encoded_data_understat = encoded_data_understat.iloc[3000:, :]

In [273]:
encoded_data_understat

,year,xG,xGA,npxG,npxGA,deep,deep_allowed,scored,missed,xpts,...,team_Verona,team_VfB Stuttgart,team_Villarreal,team_Watford,team_Werder Bremen,team_West Bromwich Albion,team_West Ham,team_Wolfsburg,team_Wolverhampton Wanderers,team_Zenit St. Petersburg
3000,2018,0.245269,1.749560,0.245269,0.991785,3,6,0,3,0.2341,...,0,0,0,0,0,0,0,0,0,0
3001,2018,0.719516,3.161980,0.719516,2.404200,1,9,0,3,0.1581,...,0,0,0,0,0,0,0,0,0,0
3002,2018,2.898410,0.960102,2.898410,0.960102,8,3,4,1,2.5933,...,0,0,0,0,0,0,0,0,0,0
3003,2018,1.367550,2.811070,1.367550,2.811070,0,13,3,3,0.5069,...,0,0,0,0,0,0,0,0,0,0
3004,2018,1.109410,1.025760,1.109410,1.025760,6,8,0,1,1.4137,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24575,2019,0.448154,2.587650,0.448154,1.826350,7,6,1,3,0.1597,...,0,0,0,0,0,0,0,0,0,0
24576,2019,1.699320,0.446679,0.938022,0.446679,5,7,1,2,2.4418,...,0,0,0,0,0,0,0,0,0,0
24577,2019,2.535110,0.959100,2.535110,0.959100,5,7,3,1,2.4325,...,0,0,0,0,0,0,0,0,0,0
24578,2019,2.247360,2.689270,2.247360,2.689270,11,10,2,3,1.1019,...,0,0,0,0,0,0,0,0,0,0
24579,2019,1.934840,1.554200,1.173540,1.554200,6,6,2,1,1.7087,...,0,0,0,0,0,0,0,0,0,0

In [274]:
if 'result' in encoded_data_understat.columns:
    print("result column is present in the DataFrame")
else:
    print("result column is not present in the DataFrame")

result column is present in the DataFrame

In [275]:
# separate the target variable column from the feature matrix
y = encoded_data_understat['result']
encoded_data_understat = encoded_data_understat.drop('result', axis=1)

In [276]:
print(encoded_data_understat.head())

      year        xG       xGA      npxG     npxGA  deep  deep_allowed  \
3000  2018  0.245269  1.749560  0.245269  0.991785     3             6
3001  2018  0.719516  3.161980  0.719516  2.404200     1             9
3002  2018  2.898410  0.960102  2.898410  0.960102     8             3
3003  2018  1.367550  2.811070  1.367550  2.811070     0            13
3004  2018  1.109410  1.025760  1.109410  1.025760     6             8

      scored  missed    xpts  ...  team_Verona  team_VfB Stuttgart  \
3000       0       3  0.2341  ...            0                   0
3001       0       3  0.1581  ...            0                   0
3002       4       1  2.5933  ...            0                   0
3003       3       3  0.5069  ...            0                   0
3004       0       1  1.4137  ...            0                   0

      team_Villarreal  team_Watford  team_Werder Bremen  \
3000                0             0                   0
3001                0             0                   0
3002                0             0                   0
3003                0             0                   0
3004                0             0                   0

      team_West Bromwich Albion  team_West Ham  team_Wolfsburg  \
3000                          0              0               0
3001                          0              0               0
3002                          0              0               0
3003                          0              0               0
3004                          0              0               0

      team_Wolverhampton Wanderers  team_Zenit St. Petersburg
3000                             0                          0
3001                             0                          0
3002                             0                          0
3003                             0                          0
3004                             0                          0

[5 rows x 201 columns]

In [277]:
encoded_data_understat

,year,xG,xGA,npxG,npxGA,deep,deep_allowed,scored,missed,xpts,...,team_Verona,team_VfB Stuttgart,team_Villarreal,team_Watford,team_Werder Bremen,team_West Bromwich Albion,team_West Ham,team_Wolfsburg,team_Wolverhampton Wanderers,team_Zenit St. Petersburg
3000,2018,0.245269,1.749560,0.245269,0.991785,3,6,0,3,0.2341,...,0,0,0,0,0,0,0,0,0,0
3001,2018,0.719516,3.161980,0.719516,2.404200,1,9,0,3,0.1581,...,0,0,0,0,0,0,0,0,0,0
3002,2018,2.898410,0.960102,2.898410,0.960102,8,3,4,1,2.5933,...,0,0,0,0,0,0,0,0,0,0
3003,2018,1.367550,2.811070,1.367550,2.811070,0,13,3,3,0.5069,...,0,0,0,0,0,0,0,0,0,0
3004,2018,1.109410,1.025760,1.109410,1.025760,6,8,0,1,1.4137,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24575,2019,0.448154,2.587650,0.448154,1.826350,7,6,1,3,0.1597,...,0,0,0,0,0,0,0,0,0,0
24576,2019,1.699320,0.446679,0.938022,0.446679,5,7,1,2,2.4418,...,0,0,0,0,0,0,0,0,0,0
24577,2019,2.535110,0.959100,2.535110,0.959100,5,7,3,1,2.4325,...,0,0,0,0,0,0,0,0,0,0
24578,2019,2.247360,2.689270,2.247360,2.689270,11,10,2,3,1.1019,...,0,0,0,0,0,0,0,0,0,0
24579,2019,1.934840,1.554200,1.173540,1.554200,6,6,2,1,1.7087,...,0,0,0,0,0,0,0,0,0,0

In [278]:
if 'result' in encoded_data_understat.columns:
    print("result column is present in the DataFrame")
else:
    print("result column is not present in the DataFrame")

result column is not present in the DataFrame

In [279]:
encoded_data_understat

,year,xG,xGA,npxG,npxGA,deep,deep_allowed,scored,missed,xpts,...,team_Verona,team_VfB Stuttgart,team_Villarreal,team_Watford,team_Werder Bremen,team_West Bromwich Albion,team_West Ham,team_Wolfsburg,team_Wolverhampton Wanderers,team_Zenit St. Petersburg
3000,2018,0.245269,1.749560,0.245269,0.991785,3,6,0,3,0.2341,...,0,0,0,0,0,0,0,0,0,0
3001,2018,0.719516,3.161980,0.719516,2.404200,1,9,0,3,0.1581,...,0,0,0,0,0,0,0,0,0,0
3002,2018,2.898410,0.960102,2.898410,0.960102,8,3,4,1,2.5933,...,0,0,0,0,0,0,0,0,0,0
3003,2018,1.367550,2.811070,1.367550,2.811070,0,13,3,3,0.5069,...,0,0,0,0,0,0,0,0,0,0
3004,2018,1.109410,1.025760,1.109410,1.025760,6,8,0,1,1.4137,...,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
24575,2019,0.448154,2.587650,0.448154,1.826350,7,6,1,3,0.1597,...,0,0,0,0,0,0,0,0,0,0
24576,2019,1.699320,0.446679,0.938022,0.446679,5,7,1,2,2.4418,...,0,0,0,0,0,0,0,0,0,0
24577,2019,2.535110,0.959100,2.535110,0.959100,5,7,3,1,2.4325,...,0,0,0,0,0,0,0,0,0,0
24578,2019,2.247360,2.689270,2.247360,2.689270,11,10,2,3,1.1019,...,0,0,0,0,0,0,0,0,0,0
24579,2019,1.934840,1.554200,1.173540,1.554200,6,6,2,1,1.7087,...,0,0,0,0,0,0,0,0,0,0

In [280]:
from sklearn.model_selection import train_test_split

X = encoded_data_understat.iloc[:, :-1]
y = encoded_data_understat.iloc[:, -1]

X_train, X_holdout, y_train, y_holdout = train_test_split(X, y, test_size=0.2, random_state=42)

# Fit the encoder to y_train and transform y_train and y_holdout
label_encoder = LabelEncoder()
y_train = label_encoder.fit_transform(y_train)
y_holdout = label_encoder.transform(y_holdout)

In [251]:
from sklearn.model_selection import train_test_split

# Split the rest of the data into a training and test set
X_train, X_test, y_train, y_test = train_test_split(encoded_data_understat.iloc[3000:, :-1], encoded_data_understat.iloc[3000:, -1], test_size=0.2, random_state=42)

In [281]:
# Print the data types of each column
print(X_train.dtypes)

year                              int64
xG                              float64
xGA                             float64
npxG                            float64
npxGA                           float64
                                 ...
team_Werder Bremen                uint8
team_West Bromwich Albion         uint8
team_West Ham                     uint8
team_Wolfsburg                    uint8
team_Wolverhampton Wanderers      uint8
Length: 200, dtype: object

In [282]:
# checking again for columns with dtype; object

obj_cols = X_train.select_dtypes(include=['object']).columns
print(obj_cols)

Index([], dtype='object')

In [283]:
import xgboost as xgb
from sklearn.metrics import accuracy_score

# Define the parameters for the XGBoost model
params = {
    'objective': 'multi:softmax',    # Set the objective to multi-class classification
    'num_class': 3,                  # Number of classes in target variable
    'eval_metric': 'mlogloss',       # Evaluation metric
    'eta': 0.1,                      # Learning rate
    'max_depth': 6,                  # Maximum depth of tree
    'subsample': 0.8,                # Subsample ratio of the training instances
    'colsample_bytree': 0.8,         # Subsample ratio of columns when constructing each tree
    'seed': 42                       # Random seed for reproducibility
}

# Convert data into DMatrix format for XGBoost
dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test, label=y_test)

# Train the XGBoost model
num_rounds = 100
xgb_model = xgb.train(params, dtrain, num_rounds)

# Make predictions on test set
y_pred = xgb_model.predict(dtest)

# Evaluate model performance on test set
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

Accuracy: 1.00

In [284]:
# Print the data types of each column
print(X_holdout.dtypes)

year                              int64
xG                              float64
xGA                             float64
npxG                            float64
npxGA                           float64
                                 ...
team_Werder Bremen                uint8
team_West Bromwich Albion         uint8
team_West Ham                     uint8
team_Wolfsburg                    uint8
team_Wolverhampton Wanderers      uint8
Length: 200, dtype: object

In [285]:
# checking again for columns with dtype; object

obj_cols = X_holdout.select_dtypes(include=['object']).columns
print(obj_cols)

Index([], dtype='object')

In [286]:
if 'result' in X_holdout.columns:
    print("result column is present in the DataFrame")
else:
    print("result column is not present in the DataFrame")

result column is not present in the DataFrame

In [289]:
# Convert hold-out set to DMatrix
dholdout = xgb.DMatrix(X_holdout)

# Make predictions on the hold-out set
y_pred_holdout = xgb_model.predict(dholdout)

# Calculate the accuracy score of the predictions
accuracy_holdout = accuracy_score(y_holdout, y_pred_holdout)

print("Accuracy on hold-out set: {:.2f}".format(accuracy_holdout))

Accuracy on hold-out set: 0.99